<div
  class="dialog-title"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <mat-icon>{{ data.isCancel ? "cancel" : "check_circle" }}</mat-icon>
  <span>{{ data.title }}</span>
</div>

<div class="dialog-content">
  <mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close type="button" color="warn">
      取消
    </button>
    <button mat-flat-button type="submit" color="accent" (click)="onSubmit()">
      完成
    </button>
  </mat-dialog-actions>
</div>
