<div
  class="dialog-title"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <mat-icon>{{ data.isCancel ? "cancel" : "check_circle" }}</mat-icon>
  <span>{{ data.title }}</span>
</div>

<form *ngIf="data.title === '扣除手續費終止交易'" [formGroup]="form">
  <mat-form-field
    class="mat-form-field-round"
    appearance="outline"
    floatLabel="never"
  >
    <mat-icon matPrefix>contact_support</mat-icon>
    <input
      matInput
      type="text"
      placeholder="標題"
      formControlName="reportTitle"
    />
  </mat-form-field>
</form>

<div class="dialog-content">
  <mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close type="button" color="warn">
      取消
    </button>
    <button mat-flat-button type="submit" color="accent" (click)="onSubmit()">
      完成
    </button>
  </mat-dialog-actions>
</div>
