@import "~src/assets/scss/color.scss";

$primary-color: map-get($colors, primary5);

::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.dialog-title {
  background-color: $primary-color;

  &::after {
    position: absolute;
    top: 100%;
    border-top: solid 1rem $primary-color;
    border-left: solid 1rem transparent;
    border-right: solid 1rem transparent;
    content: "";
  }
}
