@import "~src/assets/scss/color.scss";

$primary-color: map-get($colors, primary1);
$font-white: map-get($colors, white);
$field-color: map-get($colors, lightgray);

::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

:host ::ng-deep {
  mat-form-field.mat-form-field-round {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-outline {
          border: 1px solid $field-color;
          border-radius: 0;
        }
      }
    }
  }
}
