<div class="product" fxLayout="row wrap" fxLayoutAlign="space-between">
  <div
    fxFlex.gt-xs="32"
    *ngFor="
      let productGroup of productGroups
        | paginate: { itemsPerPage: 10, currentPage: page }
    "
    [routerLink]="productGroup.id.toString()"
  >
    <mat-card>
      <img mat-card-image alt="product-image" [src]="productGroup.coverImage" />
      <mat-card-content>
        <mat-card-title fxFlex="60">{{ productGroup.name }}</mat-card-title>
        <mat-card-subtitle
          fxLayout="column"
          fxLayoutAlign="center end"
          fxFlex="40"
        >
          <div fxLayout="row" fxLayoutGap="10px">
            <span class="price">$ {{ productGroup.price }}/天</span>
            <div class="comment">
              <mat-icon>star_rate</mat-icon>
              <span>{{ productGroup.comment }}</span>
            </div>
          </div>
          <span>{{ productGroup.city }}</span>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<pagination-controls
  class="pagination"
  (pageChange)="page = $event"
  previousLabel=""
  nextLabel=""
></pagination-controls>
