<div class="product" fxLayout="row wrap" fxLayoutAlign="space-between">
  <div
    fxFlex.gt-xs="32"
    *ngFor="
      let productGroup of productGroups
        | paginate: { itemsPerPage: 10, currentPage: page }
    "
    [routerLink]="productGroup.id.toString()"
  >
    <mat-card>
      <img mat-card-image [src]="productGroup.coverImage" alt="商品圖片" />
      <mat-card-content>
        <mat-card-title fxFlex="60"> 戶外野營折疊全自動帳篷 </mat-card-title>
        <mat-card-subtitle
          fxLayout="column"
          fxLayoutAlign="center end"
          fxFlex="40"
        >
          <span>{{ productGroup.city }}</span>
          <div fxLayout="row" fxLayoutGap="10px">
            <div class="comment">
              <mat-icon>star_rate</mat-icon>
              <span>5</span>
            </div>
            <span class="price">$ {{ productGroup.price }}</span>
          </div>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<pagination-controls
  class="pagination"
  (pageChange)="page = $event"
  previousLabel=""
  nextLabel=""
></pagination-controls>
