@import "~src/assets/scss/color.scss";

$primary-color: map-get($colors, primary4);
$font-white: map-get($colors, white);
$font-red: red;
$bg-white: map-get($colors, white);

.product {
  .mat-card-image {
    border-radius: 20px;
    background-color: $bg-white;
  }

  mat-card {
    margin-bottom: 10px;
    border: 3px solid $primary-color;
    border-radius: 20px;
    background-color: $primary-color;

    &:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }
  }

  mat-card-title {
    font-size: 15px;
  }

  mat-card-subtitle {
    .price {
      color: $font-red;
      font-weight: bold;
    }

    .comment {
      color: $font-white;

      mat-icon {
        width: 15px;
        height: 15px;
        font-size: 15px;
      }
    }
  }
}

.pagination {
  text-align: center;
}
