body {
    font-weight: 600;
    font-size: 18px;
    background-color: #FFF;
}
.wrap {
    width: 100%;
    margin-top: -18px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    background: #fff;
    block-size: auto;
    border-bottom: 2px;
    height: 50px;
    border-bottom-style: groove;
    border-color: #00bcd4;
}
.header li {
    float: left;
}
.header a {
    display: block;
    text-decoration: none;
    color: #00bcd4;
    padding:  12px 15px 12px 15px;
    border-bottom: 5px solid transparent; /*試試把此段拿掉，滑鼠移入選單.header背景會跳動*/
}
.header a:hover {
    color: #a1bad0;
    border-bottom: 3px solid #a1bad0;
}

ul:not(.browser-default) {
    display: flex;
    justify-content: center;
    
}
