<div class="productDetail">
  <img src="assets/image/4人帳四角睡帳.jpg" class="image" />
  <h5>{{productGroup.name}}</h5>
  <p>星等</p>
  <p>{{productGroup.city}}</p>
  <p>{{productGroup.price}}</p>
  <p>{{productGroup.borrowDateRange}}</p>
  <button>我要租</button>
</div>

<div class='expansion-panel'>
  <mat-accordion *ngFor="let product of productGroup.productArray">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          快搭客廳炊事帳
        </mat-panel-title>
        數量:{{product.count}}
      </mat-expansion-panel-header>
      照片:<p *ngFor="let Image of product.imageArray"><img src={{Image.url}} /></p>
      <p>外觀狀況：</p>
      <p>使用方法：{{product.useInformation}}</p>
      連結:<p *ngFor="let RelatedLink of product.relatedLinkArray">
        <a href={{RelatedLink.url}}>{{RelatedLink.url}}</a>
      </p>
      <p>品牌：{{product.brand}}</p>
      <p>損壞賠償：{{product.brokenCompensation}}</p>
      <p>其他備註：{{product.memo}}</p>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        數量:{{product.count}}
      </mat-expansion-panel-header>
      照片:<p *ngFor="let Image of product.imageArray"><img src={{Image.url}} /></p>
      <p>外觀狀況：</p>
      <p>使用方法：{{product.useInformation}}</p>
      連結:<p *ngFor="let RelatedLink of product.relatedLinkArray">
        <a href={{RelatedLink.url}}>{{RelatedLink.url}}</a>
      </p>
      <p>品牌：{{product.brand}}</p>
      <p>損壞賠償：{{product.brokenCompensation}}</p>
      <p>其他備註：{{product.memo}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        數量:{{product.count}}
      </mat-expansion-panel-header>
      照片:<p *ngFor="let Image of product.imageArray"><img src={{Image.url}} /></p>
      <p>外觀狀況：</p>
      <p>使用方法：{{product.useInformation}}</p>
      連結:<p *ngFor="let RelatedLink of product.relatedLinkArray">
        <a href={{RelatedLink.url}}>{{RelatedLink.url}}</a>
      </p>
      <p>品牌：{{product.brand}}</p>
      <p>損壞賠償：{{product.brokenCompensation}}</p>
      <p>其他備註：{{product.memo}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        數量:{{product.count}}
      </mat-expansion-panel-header>
      照片:<p *ngFor="let Image of product.imageArray"><img src={{Image.url}} /></p>
      <p>外觀狀況：</p>
      <p>使用方法：{{product.useInformation}}</p>
      連結:<p *ngFor="let RelatedLink of product.relatedLinkArray">
        <a href={{RelatedLink.url}}>{{RelatedLink.url}}</a>
      </p>
      <p>品牌：{{product.brand}}</p>
      <p>損壞賠償：{{product.brokenCompensation}}</p>
      <p>其他備註：{{product.memo}}</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>
