@import "~src/assets/scss/color.scss";

.container {
  margin: 3% 0;
}

mat-card {
  padding: 3% 5%;
  color: map-get($colors, main);
  border-style: solid;
  border-radius: 20px;

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}

/* mat-form-field  */
.transaction-information-form{
  ::ng-deep.mat-form-field-invalid{
    .mat-form-field-prefix{
      mat-icon{
        color: map-get($colors, danger);
      }
      .mat-datepicker-toggle-default-icon{
        color: map-get($colors, danger);
      }
    }
  }
  ::ng-deep mat-form-field.mat-form-field {
    color: map-get($colors, font);
    padding-bottom: 1rem;
    mat-icon{
      color: map-get($colors, blue);
      margin-right: 11px;
    }
    .mat-form-field-wrapper {
      border: 0px;
      .mat-form-field-flex {
        padding: 0;
        background: map-get($colors, background-white);  
        .mat-form-field-infix {
          margin: auto 0;
          border: 0;
        }
  
        .mat-form-field-suffix {
          margin: auto 0;
        }
  
        .matPrefix-icon {
          padding: 0.5rem 0;
        }
  
        .mat-select-arrow-wrapper {
          transform: translateY(0%);
  
          .mat-select-arrow {
            margin-top: 0;
          }
        }
      }
    }
    .mat-chip.mat-standard-chip {
      background: map-get($colors, powder-blue);
      color: map-get($colors, font-white);
    }
    .mat-datepicker-toggle-default-icon{
      color: map-get($colors, blue);
      margin: 0 !important;
      padding: 0.25em 0 0.75em 0;
    }
  }
}


.sendOut button {
  background: map-get($colors, blue);
  color: map-get($colors, font-white);
}
