@import "~src/assets/scss/color.scss";

.container {
  text-align: center;
  color: map-get($colors, primary1);
  margin: 5% 0;
  padding: 3%;
}

/* mat-form-field  */
.transaction-information-form{
  ::ng-deep.mat-form-field-invalid{
    .mat-form-field-prefix{
      mat-icon{
        color: map-get($colors, danger);
      }
      .mat-datepicker-toggle-default-icon{
        color: map-get($colors, danger);
      }
    }
  }
  ::ng-deep mat-form-field.mat-form-field {
    color: map-get($colors, font);
    ::placeholder {
      font-size: 1rem;
      color: map-get($colors, disable);
    }
    .material-icons {
      font-size: 24px;
      color: map-get($colors, primary2);
    }
    .mat-form-field-wrapper {
      border: 0px;
      .mat-form-field-flex {
        padding: 0;
        background: map-get($colors, background-white);  
        .mat-form-field-infix {
          margin: auto 0;
          border: 0;
        }
  
        .mat-form-field-suffix {
          margin: auto 0;
        }
  
        .matPrefix-icon {
          padding: 0.5rem 0;
        }
  
        .mat-select-arrow-wrapper {
          transform: translateY(0%);
  
          .mat-select-arrow {
            margin-top: 0;
          }
        }
      }
    }
    .mat-chip.mat-standard-chip {
      background: map-get($colors, powder-blue);
      color: map-get($colors, font-white);
    }
    .mat-datepicker-toggle-default-icon{
      color: map-get($colors, blue);
      margin: 0 !important;
      padding: 0.25em 0 0.75em 0;
    }
  }
}


.sendOut button {
  background: map-get($colors, blue);
  color: map-get($colors, font-white);
}
