<div class="container" fxLayout="row">
  <div class="leftBlock" fxFlex></div>
  <mat-card fxFlex="60" fxFlex.lt-sm="80">
    <!-- <mat-card-title fxLayout="row" fxLayoutAlign="center">
    </mat-card-title> -->
    <mat-card-content>
      <form
        class="transaction-information-form"
        [formGroup]="groupForm"
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxFlexFill
      >
        <!-- 交易資訊表單 -->
        <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
          <mat-icon matPrefix>tour</mat-icon>
          <input
            matInput
            type="text"
            placeholder="標題"
            formControlName="name"
            autocomplete="off"
          />
          <mat-error *ngIf="groupForm.controls['name'].hasError('required')">
            此為必填
          </mat-error>
        </mat-form-field>
        <mat-form-field
          floatLabel="never"
          appearance="fill"
          [hideRequiredMarker]="true"
          (click)="picker.opened = true"
        >
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="borrowStartDate"
              placeholder="開始開放租借"
            />
            <input
              matEndDate
              formControlName="borrowEndDate"
              placeholder="結束開放租借"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matPrefix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker> </mat-date-range-picker>
        </mat-form-field>

        <div
          class="area"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="10px"
        >
          <mat-form-field
            fxFlex="50"
            fxFlex.xs="100"
            appearance="fill"
            floatLabel="never"
          >
            <mat-icon matPrefix>gps_fixed</mat-icon>
            <mat-select formControlName="cityName" placeholder="市">
              <mat-option
                *ngFor="let name of cities$ | async; let cityIndex = index"
                [value]="name"
                (onSelectionChange)="cityIndex$.next(cityIndex)"
              >
                {{ name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="groupForm.controls['cityName'].hasError('required')"
            >
              此為必填
            </mat-error>
          </mat-form-field>
          <mat-form-field
            fxFlex="50"
            fxFlex.xs="100"
            appearance="fill"
            floatLabel="never"
          >
            <mat-icon matPrefix>gps_fixed</mat-icon>
            <mat-select formControlName="cityAreaName" placeholder="區">
              <mat-option
                *ngFor="let areaName of areas$ | async"
                [value]="areaName"
              >
                {{ areaName }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="groupForm.controls['cityAreaName'].hasError('required')"
            >
              此為必填
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field
          floatLabel="never"
          class="product-input"
          [hideRequiredMarker]="true"
        >
          <mat-icon matPrefix>attach_money</mat-icon>
          <input
            matInput
            required
            type="number"
            placeholder="金額 (以天計算)"
            formControlName="price"
          />
          <mat-error *ngIf="groupForm.controls['price'].hasError('required')">
            此為必填
          </mat-error>
        </mat-form-field>
        <mat-form-field
          floatLabel="never"
          class="product-input"
          [hideRequiredMarker]="true"
        >
          <mat-icon matPrefix>work_outline</mat-icon>
          <input
            matInput
            required
            type="text"
            placeholder="銀行帳號"
            formControlName="bankAccount"
          />
          <mat-error
            *ngIf="groupForm.controls['bankAccount'].hasError('required')"
          >
            此為必填
          </mat-error>
        </mat-form-field>
        <div
          class="sendOut"
          fxLayout="row"
          fxLayoutAlign="space-around center"
          fxLayoutGap="10px"
        >
          <button
            fxFlex="30"
            fxFlex.lt-sm="100"
            mat-button
            (click)="openDialog()"
          >
            新增物品
          </button>
          <button
            fxFlex="30"
            fxFlex.lt-sm="100"
            mat-button
            type="submit"
            [disabled]="!groupForm.valid"
          >
            上架
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="rightBlock" fxFlex></div>
</div>
