<div class="container" fxLayout="column" fxLayoutAlign="center">
  <div
    class="toggle"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <span>租借</span>
    <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
    <span>出租</span>
  </div>

  <div class="record" fxLayout="row wrap" fxLayoutAlign="space-between">
    <mat-card
      *ngFor="let rental of rentals"
      [style.background-color]="getStatusColor(rental.status)"
      (click)="updateSelectRental(rental)"
      fxFlex.gt-xs="32"
      fxFlex.gt-md="19"
      fxFlexFill
    >
      <mat-card-header fxLayout="column">
        <mat-card-title>{{ getStatusText(rental.status) }}</mat-card-title>
        <mat-card-subtitle>{{ rental.borrowRange }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ rental.name }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button [style.color]="getStatusColor(rental.status)">
          {{ getStatusButton(rental.status) }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-card *ngIf="selectRental as rental">
    <mat-card-header>
      <mat-card-title>{{ rental.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>取物完成</button>
    </mat-card-actions>
    <mat-card-content>
      <p>星等</p>
      <p>{{ rental.areaName }}</p>
      <p>{{ rental.seller.nickName }}</p>
      <p>{{ rental.seller.email }}</p>
    </mat-card-content>
  </mat-card>
</div>
