.container{
    text-align: center;
    font-size: 130%;
    font-family:Microsoft JhengHei; 
    color: #C0DD6F;
    margin: 10% 33% 4.8% 33%;
    width: 34%;
    border-style: solid;
    border-color: #C0DD6F;
    border-radius: 20pt;
}

::ng-deep .mat-form-field-outline.ng-tns-c77-0.ng-star-inserted{
    border: solid #C0DD6F;
    border-radius: 30pt;
}

::ng-deep .mat-form-field-outline.ng-tns-c77-1.ng-star-inserted{
     border: solid #C0DD6F;
    border-radius: 30pt;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
    border: none !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
    border:none !important;
}

.material-icons{
    font-size: 34px;
}

.flex-forgetPasswordAndRememberMe{
    display: block;
    font-weight: bold;
    font-size: 100%;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 2%;
}

.forgetPassword{
    font-weight: bold;
    color: #C0DD6F;
    text-decoration: none;
    vertical-align: middle;    
}

.mat-checkbox{
    font-family: Microsoft JhengHei;
}

::placeholder{
    font-size: 70%;
    padding-left: 10%;
}

.signUpAndLogin{
    padding-bottom: 2%;
}

button{
    font-size: 70%;
    width: 35%;
    color: #C0DD6F;
    font-weight: bold;
    border-style: solid;
    border-radius: 20pt;
    border-color: #C0DD6F;
    background-color: #FFF;
}

#login{
    color: #FFF;
    background-color: #C0DD6F;
}

@media screen and (max-width: 500px){
    .container{
        width: 80%;
        margin: 10% 10% 4.8% 10%;
    }
}

@media screen and (min-width: 1300px){
    .material-icons{
        font-size: 40px;
    }
}

@media screen and (min-width: 1900px){
    .container{
        width: 20%;
        margin: 10% 40% 4.8% 40%;
    }
}