/*表單外框*/

.holder{
    margin-top: 1%;
}

.container{
    text-align: center;
    font-size: 130%;
    font-family:Microsoft JhengHei; 
    color: #C0DD6F;
    border-style: solid;
    border-color: #C0DD6F;
    border-radius: 20pt;
}

/*表單標題*/

.formTitle{
    margin-top: 1%;
}

/*帳號密碼輸入*/

.inputStyle{
    padding: 0% 2%;
}

::ng-deep .mat-form-field-outline.ng-tns-c77-0.ng-star-inserted{
    border: solid #C0DD6F;
    border-radius: 30pt;
}

::ng-deep .mat-form-field-outline.ng-tns-c77-1.ng-star-inserted{
     border: solid #C0DD6F;
    border-radius: 30pt;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
    border: none !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
    border:none !important;
}

input{
    padding:0 0 2% 2%;
    font-size: x-large;
}

::placeholder{
    font-size: 20px;
    padding-left: 10%;
}

.material-icons{
    font-size: 34px;
}

/*記住帳密與忘記密碼*/

.flex-forgetPasswordAndRememberMe{
    display: block;
    font-weight: bold;
    font-size: 100%;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 2%;
}

.forgetPassword{
    font-weight: bold;
    color: #C0DD6F;
    text-decoration: none;
    vertical-align: middle;    
}

.mat-checkbox{
    font-family: Microsoft JhengHei;
}

/*註冊與登入按鈕*/

.signUpAndLogin{
    padding-bottom: 2%;
}

button{
    font-size: 100%;
    width: 35%;
    height: 10%;
    color: #C0DD6F;
    font-weight: bold;
    padding: 1% 0%;
    border-style: solid;
    border-radius: 20pt;
    border-color: #C0DD6F;
    background-color: #FFF;
}

#login{
    color: #FFF;
    background-color: #C0DD6F;
}

/*RWD調整*/

@media screen and (min-width: 1300px){
    .material-icons{
        font-size: 40px;
    }
}
@media screen and (min-width: 1900px){
    ::placeholder{
        font-size: 24px;
    }

    button{
        font-size: 110%;
    }

    .flex-forgetPasswordAndRememberMe{
        font-size: 110%;
    }
}