@import "~src/assets/scss/color.scss";

.container {
  margin: 3% 0;
}

mat-icon {
  margin-right: 10px;
  color: map-get($colors, primary4);
}

mat-card {
  padding: 3% 5%;
  color: map-get($colors, primary4);
  border-style: solid;
  border-radius: 20px;

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}

mat-card-actions {
  button {
    color: map-get($colors, font-white);
    background-color: map-get($colors, primary4);
  }
}

mat-card-content {
  p.memo {
    padding-left: 2.2rem;
  }
}

mat-expansion-panel {
  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  &.mat-expansion-panel:first-of-type,
  .mat-expansion-panel:last-of-type {
    border: 1px solid map-get($colors, primary4);
    border-radius: 0;
  }

  mat-expansion-panel-header {
    border-bottom: 1px solid map-get($colors, primary4);
    border-radius: 0;
  }

  .product-detail {
    padding-top: 16px;
  }
}
