<div class="holder" fxLayout="row">
  <div class="leftBlock" fxFlex></div>
  <div class="container" fxFlex="60" fxFlex.lt-sm="80">
    <div class="productDetail" fxLayout="row" fxLayout.xs="column">
      <div class="productDetail-img" fxFlex="40" fxFlex.lt-sm="100">
        <img src="assets/image/logo.png" class="image" />
      </div>
      <div fxFlex="60" fxFlex.lt-sm="100">
        <h3>{{ productGroup.name }}</h3>
        <div fxLayout="row" fxLayout.xs="column">
          <p fxFlex="40" fxFlex.lt-sm="100">
            <i class="material-icons matPrefix-icon" matPrefix>star</i>
          </p>
          <p fxFlex="30" fxFlex.lt-sm="100">{{ productGroup.city }}</p>
          <p fxFlex="30" fxFlex.lt-sm="100">{{ productGroup.price }}</p>
        </div>
        <p>{{ productGroup.borrowDateRange }}</p>
        <p class="borrow">
          <button mat-raised-button class="borrow-btn" (click)="openDialog()">
            我要租
          </button>
        </p>
      </div>
    </div>

    <div class="expansion-panel">
      <mat-accordion>
        <mat-expansion-panel
          hideToggle
          *ngFor="let product of productGroup.productArray"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ product.name }}
            </mat-panel-title>
            數量:{{ product.count }}
          </mat-expansion-panel-header>
          <div fxLayout="column" fxLayout.gt-md="row">
            <div fxFlex="100" fxFlex.lt-lg="50">
              照片:
              <p *ngFor="let Image of product.imageArray">
                <img alt="商品圖片" src="{{ Image.url }}" />
              </p>
            </div>
            <div fxFlex="100" fxFlex.lt-lg="50">
              <div fxLayout="column">
                <div fxFlex="100" fxFlex.lt-lg="50">
                  <span class="icon" style="vertical-align: middle">
                    <i class="material-icons matPrefix-icon product-detail-icon" matPrefix
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="23"
                        height="19.681"
                        viewBox="0 0 23 19.681"
                      >
                        <path
                          id="Subtraction_32"
                          data-name="Subtraction 32"
                          d="M8.235,19.681H0L8.656,5.259,6.121,1.111,8.159,0l1.8,2.941L11.745.015l1.8.983-2.4,3.924L20,19.678l-8.235,0V17.457A2.037,2.037,0,0,0,10,15.236a2.035,2.035,0,0,0-1.764,2.222V19.68Z"
                          fill="#2699fb"
                        />
                      </svg> </i
                  ></span>
                  <span>外觀狀況：{{ product.appearance }}</span>
                </div>
                <div fxFlex="100" fxFlex.lt-lg="50">
                  <span class="icon" style="vertical-align: middle">
                    <i class="material-icons matPrefix-icon product-detail-icon" matPrefix
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="23"
                        height="19.681"
                        viewBox="0 0 23 19.681"
                      >
                        <path
                          id="Subtraction_32"
                          data-name="Subtraction 32"
                          d="M8.235,19.681H0L8.656,5.259,6.121,1.111,8.159,0l1.8,2.941L11.745.015l1.8.983-2.4,3.924L20,19.678l-8.235,0V17.457A2.037,2.037,0,0,0,10,15.236a2.035,2.035,0,0,0-1.764,2.222V19.68Z"
                          fill="#2699fb"
                        />
                      </svg>
                    </i>
                  </span>
                  <span>使用方法：{{ product.useInformation }}</span>
                </div>
                <div fxFlex="100" fxFlex.lt-lg="50">
                  <span class="icon" style="vertical-align: middle"
                    ><i class="material-icons matPrefix-icon product-detail-icon" matPrefix
                      >link</i
                    ></span
                  >
                  <span>連結: </span>
                  <p *ngFor="let RelatedLink of product.relatedLinkArray">
                    <a href="{{ RelatedLink.url }}">{{ RelatedLink.url }}</a>
                  </p>
                </div>
                <div fxFlex="100" fxFlex.lt-lg="50">
                  <span class="icon" style="vertical-align: middle">
                    <i class="material-icons matPrefix-icon product-detail-icon" matPrefix
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="23"
                        height="19.681"
                        viewBox="0 0 23 19.681"
                      >
                        <path
                          id="Subtraction_32"
                          data-name="Subtraction 32"
                          d="M8.235,19.681H0L8.656,5.259,6.121,1.111,8.159,0l1.8,2.941L11.745.015l1.8.983-2.4,3.924L20,19.678l-8.235,0V17.457A2.037,2.037,0,0,0,10,15.236a2.035,2.035,0,0,0-1.764,2.222V19.68Z"
                          fill="#2699fb"
                        />
                      </svg> </i
                  ></span>
                  <span>品牌：{{ product.brand }}</span>
                </div>
                <div fxFlex="100" fxFlex.lt-lg="50">
                  <span class="icon" style="vertical-align: middle"
                    ><i class="material-icons matPrefix-icon product-detail-icon" matPrefix
                      >gavel</i
                    ></span
                  >
                  <span>損壞賠償：{{ product.brokenCompensation }}</span>
                </div>
                <div fxFlex="100" fxFlex.lt-lg="50">
                  <span class="icon" style="vertical-align: middle">
                    <i class="material-icons matPrefix-icon product-detail-icon" matPrefix
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="23"
                        height="19.681"
                        viewBox="0 0 23 19.681"
                      >
                        <path
                          id="Subtraction_32"
                          data-name="Subtraction 32"
                          d="M8.235,19.681H0L8.656,5.259,6.121,1.111,8.159,0l1.8,2.941L11.745.015l1.8.983-2.4,3.924L20,19.678l-8.235,0V17.457A2.037,2.037,0,0,0,10,15.236a2.035,2.035,0,0,0-1.764,2.222V19.68Z"
                          fill="#2699fb"
                        />
                      </svg> </i
                  ></span>
                  <span>其他備註：{{ product.memo }}</span>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="rightBlock" fxFlex></div>
</div>
