@import "~src/assets/scss/color.scss";

$primary-color: map-get($colors, primary4);
$font-white: map-get($colors, white);
$font-yellow: map-get($colors, primary4);
$font-red: map-get($colors, red);

.container {
  margin: 3% 0;
}

mat-card {
  padding: 3% 5%;
  color: $primary-color;
  border-style: solid;
  border-radius: 20px;

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}

mat-card-subtitle {
  .stars {
    mat-icon {
      color: $font-yellow;
    }
  }

  .price {
    color: $font-red;
  }
}

mat-card-actions {
  button {
    color: $font-white;
    background-color: $primary-color;
  }
}
