<div class="container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="60" fxFlex.lt-md="80">
    <div fxLayoutGap="25px">
      <img fxFlex="50" [src]="productGroup.coverImage" alt="product cover" />
      <div fxFlex="50">
        <mat-card-title>{{ productGroup.name }}</mat-card-title>
        <mat-card-subtitle fxLayout="column" fxLayoutGap="10px">
          <div
            fxLayout="row"
            fxLayout.lt-sm="column"
            fxLayoutAlign="start center"
            fxLayoutAlign.lt-sm="start"
            fxLayoutGap="10px"
          >
            <mat-icon>star</mat-icon>
            <span>{{ productGroup.city }}</span>
            <span>{{ productGroup.price }}</span>
          </div>
          <span>
            {{ productGroup.borrowStartDate }} ~
            {{ productGroup.borrowEndDate }}
          </span>
        </mat-card-subtitle>
        <mat-card-actions fxLayoutAlign="end">
          <button mat-flat-button (click)="openDialog()">我要租</button>
        </mat-card-actions>
      </div>
    </div>

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let product of productGroup.productArray; first as isFirst"
          [expanded]="isFirst"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ product.name }} x {{ product.count }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div
            class="product-detail"
            fxLayout="row"
            fxLayout.lt-sm="column"
            fxLayoutGap="25px"
          >
            <div
              fxLayout="column"
              fxFlex="50"
              fxFlex.lt-sm="100"
              fxLayoutGap="10px"
            >
              <span fxLayout="row" fxLayoutAlign="start center">
                <mat-icon svgIcon="tent"></mat-icon>
                外觀狀況： {{ product.appearance }}
              </span>
              <span fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>school</mat-icon>
                使用方法： {{ product.useInformation }}
              </span>
              <span fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>local_offer</mat-icon>
                商品品牌： {{ product.brand }}
              </span>
              <span
                *ngIf="product.relatedLink?.url as link"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon>link</mat-icon>
                相關連結: <a [href]="link">{{ link }}</a>
              </span>
              <span fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>gavel</mat-icon>
                損壞賠償： {{ product.brokenCompensation }}
              </span>
              <span fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>info</mat-icon>
                其他備註：
              </span>
              <p class="memo">{{ product.memo }}</p>
            </div>

            <div fxFlex="50" fxFlex.lt-sm="100">
              <ng-image-slider
                [images]="imageToSliderObject(product.imageArray)"
                [imageSize]="{ width: '100%' }"
              ></ng-image-slider>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
