<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="80" fxLayoutGap="20px">
    <mat-card *ngIf="account">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img class="seller" alt="seller" src="assets/image/seller.svg" />
          <span class="nick-name">{{ nickName }} 的商品</span>
        </div>

        <button
          mat-flat-button
          *ngIf="isEdit"
          color="primary"
          routerLink="/product/add"
          fxLayoutAlign="end"
        >
          新增商品
        </button>
      </mat-card-title>
    </mat-card>

    <app-product-list
      [productGroups]="productGroups"
      [isEdit]="isEdit"
    ></app-product-list>
  </div>
</div>
