@import "~src/assets/scss/color.scss";

.container {
  background-color: map-get($colors, main);
}

mat-toolbar {
  // text color
  mat-icon,
  a,
  button {
    color: white;
  }

  .logo {
    width: 40px;
  }

  .brand {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu-spacer {
    flex: 1 1 auto;
  }

  .web-nav-item {
    button:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

mat-sidenav-container {
  background-color: white;
}

.banner {
  width: 100%;
  max-height: 280px;
  margin-bottom: 20px;
}

mat-spinner {
  margin: 0 auto;
}
