@import "~src/assets/scss/color.scss";

.container {
  background-color: map-get($colors, main);
}

mat-toolbar {
  // text color
  mat-icon,
  a,
  button {
    color: map-get($colors, font-white);
  }

  .brand {
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;

    .logo {
      width: 40px;
    }
  }

  .web-nav-item {
    &.user {
      border: 1px solid map-get($colors, background-white);
    }

    button:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

mat-sidenav-container {
  height: calc(100% - 64px);
  background-color: map-get($colors, background-white);
}

.banner {
  width: 100%;
  max-height: 280px;
}

mat-spinner {
  margin: 0 auto;
}
