.container {
  text-align: center;
  border: black 1px solid;
  margin: 10%;
}

.userimg {
  width: 60px;
  border: 2px #00bcd4 solid;
  border-radius: 50%;
}

.nickName {
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

  img {
    margin-right: 10px;
  }
}

.row button {
  margin-left: 10px;
}
