.container {
  text-align: center;
  border: black 1px solid;
  margin: 10%;
}

.clean-float {
  clear: both;
}

.userimg {
  border-radius: 50%;
  width: 60px;
  float: left;
  margin-left: 20%;
  border-style: solid;
  border-color: #00bcd4;
}

.userNickName {
  float: left;
  color: #00bcd4;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nickNameIcon {
  float: left;
  margin-top: 14px;
  border: none;
  background-color: #fff;
  border: none;
  color: #00bcd4;
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px;
  margin-bottom: 20px;
}
