$colors: (
    main: #c0dd6f,
    danger: red,
    gray: #C5C5C5,
    blue: #2699fb,
    powder-blue: #b1dbd9,
    iris-blue:#00bcd4,
    strong-blue:#305C86,
    light-blue:#67A0B0,
    frost:#dfeeb7,
    yello: #fcd947,
    font: #000000,
    font-white: #ffffff,
    background-white: #ffffff,
);
