<div class="container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="80">
    <mat-card-title>借借露註冊</mat-card-title>

    <mat-card-content>
      <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxLayout="column" fxFlex="50">
            <mat-form-field
              class="mat-form-field-round"
              appearance="outline"
              floatLabel="never"
            >
              <input
                matInput
                type="text"
                placeholder="帳號"
                formControlName="account"
              />
              <mat-icon matPrefix>person</mat-icon>
              <mat-error *ngIf="form.controls['account'].hasError('required')">
                請輸入您的帳號
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="mat-form-field-round"
              appearance="outline"
              floatLabel="never"
            >
              <input
                matInput
                [type]="isPasswordHide ? 'password' : 'text'"
                placeholder="密碼"
                formControlName="password"
              />
              <mat-icon matPrefix>lock</mat-icon>
              <mat-icon matSuffix (click)="isPasswordHide = !isPasswordHide">
                {{ isPasswordHide ? "visibility_off" : "visibility" }}
              </mat-icon>
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                請輸入您的密碼
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="mat-form-field-round"
              appearance="outline"
              floatLabel="never"
            >
              <input
                matInput
                [type]="isConfirmPasswordHide ? 'password' : 'text'"
                placeholder="確認密碼"
                formControlName="confirmPassword"
              />
              <mat-icon matPrefix>lock</mat-icon>
              <mat-icon
                matSuffix
                (click)="isConfirmPasswordHide = !isConfirmPasswordHide"
              >
                {{ isConfirmPasswordHide ? "visibility_off" : "visibility" }}
              </mat-icon>
              <mat-error *ngIf="form.controls['confirmPassword']">
                請再次輸入您的密碼
              </mat-error>
            </mat-form-field>

            <!-- 聯絡方式 -->
            <div fxLayout="column">
              <span class="subtitle">填寫聯絡方式</span>
              <mat-form-field
                class="mat-form-field-round"
                appearance="outline"
                floatLabel="never"
              >
                <input
                  matInput
                  placeholder="電子郵件"
                  formControlName="email"
                />
                <mat-icon matPrefix>email</mat-icon>
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                  請填寫您的電子郵件
                </mat-error>
              </mat-form-field>

              <mat-form-field
                class="mat-form-field-round"
                appearance="outline"
                floatLabel="never"
              >
                <input matInput placeholder="地址" formControlName="address" />
                <mat-icon matPrefix>room</mat-icon>
                <mat-error
                  *ngIf="form.controls['address'].hasError('required')"
                >
                  請填寫您的地址
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="column" fxFlex="50">
            <span class="subtitle">填寫基本資料</span>
            <mat-form-field
              class="mat-form-field-round"
              appearance="outline"
              floatLabel="never"
            >
              <input
                matInput
                type="text"
                placeholder="姓氏"
                formControlName="lastName"
              />
              <mat-icon matPrefix>person</mat-icon>
              <mat-error *ngIf="form.controls['lastName'].hasError('required')">
                請輸入您的姓氏
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="mat-form-field-round"
              floatLabel="never"
              appearance="outline"
            >
              <input
                matInput
                type="text"
                placeholder="名字"
                formControlName="firstName"
              />
              <mat-icon matPrefix>person</mat-icon>
              <mat-error
                *ngIf="form.controls['firstName'].hasError('required')"
              >
                請輸入您的名字
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="mat-form-field-round"
              floatLabel="never"
              appearance="outline"
            >
              <input
                matInput
                type="text"
                placeholder="暱稱"
                formControlName="nickName"
              />
              <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="form.controls['nickName'].hasError('required')">
                請輸入您的暱稱
              </mat-error>
            </mat-form-field>

            <div class="radio-form-field" fxLayoutAlign="left">
              <mat-icon matPrefix>wc</mat-icon>
              <label fxHide.lt-lg>性別</label>
              <mat-radio-group formControlName="gender">
                <mat-radio-button value="0">男</mat-radio-button>
                <mat-radio-button value="1">女</mat-radio-button>
                <mat-radio-button value="2">未提供</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="radio-form-field-error">
              <mat-error *ngIf="form.controls['gender'].hasError('required')">
                請選擇您的性別
              </mat-error>
            </div>

            <mat-form-field
              class="mat-form-field-round date-picker-form-field"
              appearance="outline"
              floatLabel="never"
              (click)="picker.opened = true"
            >
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="生日"
                formControlName="birthday"
              />
              <mat-datepicker-toggle
                matPrefix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
              <mat-error *ngIf="form.controls['birthday'].hasError('required')">
                請選擇您的生日
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="mat-form-field-round select-form-field"
              appearance="outline"
              floatLabel="never"
            >
              <mat-icon matPrefix>face</mat-icon>
              <mat-select formControlName="experience" placeholder="經驗">
                <mat-option
                  *ngFor="let experience of experiences"
                  [value]="experience.id"
                >
                  {{ experience.display }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
          <button
            mat-button
            type="button"
            routerLink="/auth/login"
            fxFlex="40"
            fxFlex.lt-sm="100"
          >
            已有帳號，登入
          </button>

          <button
            mat-button
            class="register-btn"
            type="submit"
            [disabled]="!form.valid"
            fxFlex="40"
            fxFlex.lt-sm="100"
          >
            註冊
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
