/* .transactionInformation{
    align-items: center;
} */

.productInput{
    width: 60%;
}

.goodsInformation{
    border: solid yellow 1px;
    padding: 2%;
}

.goodsInformation mat-form-field{
    width: 50%;
}