/* .transactionInformation{
    align-items: center;
} */

.productInput{
    width: 60%;
}

.goodsInformation{
    border: solid yellow 1px;
    padding: 2%;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
    border: solid yellow 1px;
}

.goodsInformation mat-form-field{
    width: 50%;
}