<div class="holder" fxLayoutAlign="center">
  <div class="container" fxFlex="50">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <!-- 交易資訊表單 -->
      <div class="transactionInformation" fxLayout="column" fxLayoutGap="0%" fxFlexFill>
        <div class="InputStyle">
          <mat-form-field class="productInput" [hideRequiredMarker]="true">
            <i class="material-icons" matPrefix>tour</i>
            <input matInput required type="text" placeholder="標題" formControlName="title">
            <mat-error *ngIf="productForm.controls['title'].hasError('required')">
              此為必填
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputStyle">
          <mat-form-field class="productInput" [hideRequiredMarker]="true">
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="start_date" placeholder="開始開放租借">
              <input matEndDate formControlName="end_date" placeholder="結束開放租借">
            </mat-date-range-input>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker>
            </mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="area" fxLayout="row">
          <div class="field">
            <mat-form-field appearance="fill">
              <mat-label>市</mat-label>
              <i class="material-icons" matPrefix>gps_fixed</i>
              <mat-select formControlName="city">
                <mat-option *ngFor="let name of city.nameArray; let cityIndex = index" [value]="cityIndex">
                  {{name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['city'].hasError('required')">
                此為必填
              </mat-error>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="fill">
              <mat-label>區</mat-label>
              <i class="material-icons" matPrefix>gps_fixed</i>
              <mat-select formControlName="cityAreaName">
                <mat-option *ngFor="let areaName of city.areaNameArray[productForm.value.city]" [value]="areaName">
                  {{areaName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['cityAreaName'].hasError('required')">
                此為必填
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inputStyle">
          <mat-form-field class="productInput" [hideRequiredMarker]="true">
            <i class="material-icons" matPrefix>attach_money</i>
            <input matInput required type="number" placeholder="金額 (以天計算)" formControlName="price">
            <mat-error *ngIf="productForm.controls['price'].hasError('required')">
              此為必填
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputStyle">
          <mat-form-field class="productInput" [hideRequiredMarker]="true">
            <i class="material-icons" matPrefix>work_outline</i>
            <input matInput required type="text" placeholder="銀行帳號" formControlName="bank">
            <mat-error *ngIf="productForm.controls['bank'].hasError('required')">
              此為必填
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- 已加入的物品 -->
      <div class="alreadAdd">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{products.ProductName}} : {{products.ProductQuantity}}
            </mat-expansion-panel-header>
            <!-- 內容 -->
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxLayout="column" fxLayoutGap="1%">
                <div><i class="material-icons" matPrefix>tour</i>物品名稱: {{products.ProductName}}</div>
                <div><i class="material-icons" matPrefix>tour</i>數量: {{products.ProductQuantity}}</div>
                <div><i class="material-icons" matPrefix>tour</i>外觀狀況: {{products.ProductSize}}</div>
                <div><i class="material-icons" matPrefix>tour</i>使用方式: {{products.ProductUse}}</div>
                <div><i class="material-icons" matPrefix>tour</i>相關連結: <a>{{products.ProductLink}}</a></div>
                <div><i class="material-icons" matPrefix>tour</i>品牌: {{products.ProductBrand}}</div>
                <div><i class="material-icons" matPrefix>gavel</i>損壞賠償: {{products.Compensation}}</div>
                <div><i class="material-icons" matPrefix>tour</i>其他備註: {{products.Remarks}}</div>
              </div>
              <div>
                <img src={{products.coverImage}} height="300px" width="300px">
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- 添加物品表單 -->
      <form [formGroup]="goodsForm" (ngSubmit)="onSubmit()">
        <div class="goodsInformation" fxLayout="row" fxFlexFill fxLayoutAlign="space-evenly">
          <div class="goods" fxLayout="column" fxLayoutGap="0%">
            <div class="inputStyle">
              <mat-form-field [hideRequiredMarker]="true">
                <i class="material-icons" matPrefix>tour</i>
                <input matInput required type="text" placeholder="物品名稱" formControlName="ProductName">
                <mat-error *ngIf="productForm.controls['title'].hasError('required')">
                  此為必填
                </mat-error>
              </mat-form-field>
            </div>

            <div class="inputStyle">
              <mat-form-field [hideRequiredMarker]="true">
                <i class="material-icons" matPrefix>tour</i>
                <input matInput required type="number" placeholder="數量" formControlName="ProductQuantity">
                <mat-error *ngIf="productForm.controls['title'].hasError('required')">
                  此為必填
                </mat-error>
              </mat-form-field>
            </div>

            <div class="inputStyle">
              <mat-form-field [hideRequiredMarker]="true">
                <i class="material-icons" matPrefix>tour</i>
                <input matInput required type="text" placeholder="外觀狀況" formControlName="ProductSize">
                <mat-error *ngIf="productForm.controls['title'].hasError('required')">
                  此為必填
                </mat-error>
              </mat-form-field>
            </div>

            <div class="inputStyle">
              <mat-form-field [hideRequiredMarker]="true">
                <i class="material-icons" matPrefix>tour</i>
                <input matInput required type="text" placeholder="使用方式" formControlName="ProductUse">
              </mat-form-field>
            </div>

            <div class="inputStyle">
              <mat-form-field [hideRequiredMarker]="true">
                <i class="material-icons" matPrefix>tour</i>
                <input matInput required type="url" placeholder="相關連結" formControlName="ProductLink">
              </mat-form-field>
            </div>

            <div class="inputStyle">
              <mat-form-field [hideRequiredMarker]="true">
                <i class="material-icons" matPrefix>tour</i>
                <input matInput required type="text" placeholder="品牌" formControlName="ProductBrand">
              </mat-form-field>
            </div>

            <div class="inputStyle">
              <mat-form-field [hideRequiredMarker]="true">
                <i class="material-icons" matPrefix>gavel</i>
                <input matInput required type="text" placeholder="損壞賠償" formControlName="Compensation">
              </mat-form-field>
            </div>

            <div class="textareaStyle">
              <mat-form-field floatLabel="never">
                <textarea matInput placeholder="備註..." formControlName="Remarks"></textarea>
              </mat-form-field>
            </div>

            <div class="addGoods" fxLayout="row" fxLayoutAlign="center">
              <button mat-button type="button">添加物品</button>
            </div>
          </div>
          <div class="goodsImages">
            <input type="file" (change)="fileChangeEvent($event)" />
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
              format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"></image-cropper>
            <img [src]="croppedImage" width="200px" height="200px">
          </div>
        </div>
      </form>
      <div class="sendOut" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-button type="button">預覽</button>
        <button mat-button type="button">上架</button>
      </div>
    </form>
  </div>
</div>