<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
  [imageBase64]="data.image"
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="1.5"
  [resizeToWidth]="300"
  [resizeToHeight]="200"
  [onlyScaleDown]="false"
  format="png"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>

<mat-dialog-actions>
  <button mat-raised-button (click)="onClose()">取消</button>
  <button mat-raised-button color="warn" (click)="onSubmit()">確定送出</button>
</mat-dialog-actions>
