<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
  [imageBase64]="data.image"
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="1.5"
  [resizeToWidth]="300"
  [resizeToHeight]="200"
  [onlyScaleDown]="false"
  format="jpeg"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close type="button" color="warn">
    取消
  </button>
  <button mat-flat-button type="submit" color="accent" (click)="onSubmit()">
    完成
  </button>
</mat-dialog-actions>
