<div class="container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="40" fxFlex.lt-md="60" fxFlex.lt-sm="80">
    <mat-card-title fxLayout="row" fxLayoutAlign="center">
      <img class="logo" src="assets/image/logo.png" alt="logo" />
      <span class="brand">借借露</span>
    </mat-card-title>

    <mat-card-content>
      <form class="user-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxFlexFill>
          <mat-form-field
            class="mat-form-field-round"
            appearance="outline"
            floatLabel="never"
          >
            <input
              matInput
              type="text"
              placeholder="帳號"
              formControlName="account"
            />
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="form.controls['account'].hasError('required')">
              請輸入你的帳號！！！
            </mat-error>
            <mat-error *ngIf="form.controls['account'].hasError('pattern')">
              內含非法字元
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="mat-form-field-round"
            appearance="outline"
            floatLabel="never"
          >
            <input
              matInput
              [type]="isVisibility ? 'password' : 'text'"
              placeholder="密碼"
              formControlName="password"
            />
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon matSuffix (click)="isVisibility = !isVisibility">
              {{ isVisibility ? "visibility_off" : "visibility" }}
            </mat-icon>
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              請輸入你的密碼！！！
            </mat-error>
            <mat-error *ngIf="form.controls['password'].hasError('pattern')">
              內含非法字元
            </mat-error>
          </mat-form-field>
        </div>

        <mat-checkbox
          class="remember-me"
          (change)="changeRememberMe($event)"
          fxLayoutAlign="start"
        >
          記住我
        </mat-checkbox>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
          <button
            mat-button
            type="button"
            routerLink="/auth/register"
            fxFlex="40"
            fxFlex.lt-sm="100"
          >
            註冊
          </button>

          <button
            mat-button
            class="login-btn"
            type="submit"
            [disabled]="!form.valid"
            fxFlex="40"
            fxFlex.lt-sm="100"
          >
            登入
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
