@import "~src/assets/scss/color.scss";

.container {
  margin: 5% 0;
}

mat-card {
  color: map-get($colors, main);
  border-style: solid;
  border-radius: 20px;

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  & > :first-child {
    margin: 5% 0;
  }
}

mat-card-title {
  .logo {
    height: 50px;
    width: 50px;
  }

  .brand {
    margin-left: 20px;
    font-weight: normal;
    line-height: 50px;
  }
}

mat-card-content {
  .user-form {
    margin: 5% 7%;

    ::ng-deep mat-checkbox {
      &.mat-checkbox-checked {
        .mat-checkbox-background {
          background-color: map-get($colors, main);
        }
      }
    }

    .remember-me {
      padding-left: 15px;
      padding-bottom: 2%;
    }

    button {
      margin: 2% 0;
      font-size: 70%;
      font-weight: bold;
      border-style: solid;
      border-radius: 20px;
    }

    .login-btn {
      color: map-get($colors, font-white);
      background-color: map-get($colors, main);
      border-color: map-get($colors, main);

      &:disabled {
        background-color: map-get($colors, gray);
        border-color: map-get($colors, gray);
      }
    }
  }
}
