@import "~src/assets/scss/color.scss";

.container {
  margin-bottom: 70px;
}

.title {
  margin: 1rem 20px 1rem 0;
  color: map-get($colors, strong-blue);
}

.feedback-btn {
  margin: 1rem 0;
  color: map-get($colors, font-white);
  background-color: map-get($colors, strong-blue);
}

::ng-deep mat-card.mat-card {
  padding-bottom: 3%;
  color: map-get($colors, powder-blue);
  border-style: solid;
  border-radius: 20px;

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  h3 {
    margin-top: 1rem;
    text-align: center;
    color: map-get($colors, light-blue);
  }
}

.mat-expansion-panel {
  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  .mat-expansion-panel-header {
    border-bottom: 2px solid map-get($colors, powder-blue);
    border-radius: 0;
  }

  p {
    color: map-get($colors, strong-blue);
  }
}

::ng-deep {
  .mat-expansion-panel-header-title {
    color: map-get($colors, gray);
  }

  .mat-expansion-panel-spacing {
    .mat-expansion-panel-header-title {
      color: map-get($colors, danger);
    }
  }
}
