<div class="holder" fxLayout="row">
  <div class="leftBlock" fxFlex></div>
  <div class="container" fxFlex="70" fxFlex.lt-sm="90">
    <div class="FAQtext" fxLayout="row" fxLayoutAlign="center">
      <div flex="50" class="title">常見問題</div>
    </div>
    <div class="FAQBorder" fxLayout="row">
      <div class="Expansion-panel" fxFlex="90">
        <mat-accordion>
          <div>
            <h3>帳號相關</h3>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 忘記密碼怎麼辦? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                如果忘記密碼，可以至登入畫面點選「忘記密碼」，系統會發送密碼重設信件至註冊信箱，請至註冊信箱收取信件後，利用信件內的連結進行密碼重設，並在以後接用新密碼進行登入。
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 如何更改個人資料? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                若要更改個人資料，請至「個人資料」頁面當中，選取「編輯個人資料」。輸入完成後進行密碼驗證即可儲存您的變更的內容。
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  我的哪些資訊會被租借/出借方得知?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                租借/出租方僅會得知您的聯絡方式、暱稱以及評價，剩下的資訊皆不會公開。
              </p>
            </mat-expansion-panel>
          </div>
          <div>
            <h3>租借相關</h3>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 借來的物品毀損該怎麼辦? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                借借露在租借時便會預先扣除相當於租借額的5%作為保險金使用，當物品在使用後出現毀損時，借借露將會負責代替賠償。若物品收到的當下出現毀損，請在租借頁面進行回報並附上毀損的物品的名稱及毀損狀況，我們將會替您處理。
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 我可以取消租借嗎? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                在進入禁止取消日期範圍前，您可以無條件取消租借，此次租借將會被視為不成立，雙方也無法互相評分。
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 可以提前/延後歸還物品嗎? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                您可以在租借介面當中向出租方申請提前/延後物品歸還，當出租方同意後即可重新設定歸還日期。
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 借借露提供哪些付款方式? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>目前僅提供信用卡的付款方式</p>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 商品內容有誤該怎麼辦? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                如若交易時發現商品內容有誤，請在當下向出租方反應，如面交結束後才發現商品內容有誤，請至租借介面向點選內容缺漏並填寫多出/缺少的物品名稱、數量，我們將會替您處理。
              </p>
            </mat-expansion-panel>
          </div>
          <div>
            <h3>款項相關</h3>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 損毀賠償該怎麼繳納/收取? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                借借露在租借時便會預先扣除一筆保證金，當租借方不慎使物品出現毀損，此筆保證金將會在交易結束後一併匯入出租方的帳戶。請注意，若出現毀損次數過多，借借露將會標註使用者。
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> 我何時可以收到款項? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                在雙方皆確認完成交易，且沒有損毀或者其他問題後，借借露會將款項匯入您預先所填寫的帳戶並通知您，依據不同銀行的效率，在一定的工作天後您將會收到租借款項。
              </p>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
    <div class="feedback-btn">
      <button
        flex="40"
        class="feedback"
        mat-raised-button
        (click)="openDialog()"
      >
        問題回報
      </button>
    </div>
  </div>
  <div class="rightBlock" fxFlex></div>
</div>
