<!-- 添加物品表單 -->
<form [formGroup]="productForm">
  <div fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="60" fxFlex.xs="100">
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>tour</mat-icon>
        <input
          matInput
          required
          type="text"
          placeholder="物品名稱"
          formControlName="name"
        />
        <mat-error> 此為必填 </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>tour</mat-icon>
        <mat-select formControlName="type" placeholder="產品類型">
          <mat-option> </mat-option>
        </mat-select>
        <mat-error> 此為必填 </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>tour</mat-icon>
        <input
          matInput
          required
          type="number"
          placeholder="數量"
          formControlName="count"
        />
        <mat-error> 此為必填 </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>tour</mat-icon>
        <input
          matInput
          required
          type="text"
          placeholder="品牌"
          formControlName="brand"
        />
        <mat-error> 此為必填 </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>tour</mat-icon>
        <input
          matInput
          required
          type="text"
          placeholder="外觀狀況"
          formControlName="appearance"
        />
        <mat-error> 此為必填 </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>tour</mat-icon>
        <input
          matInput
          required
          type="text"
          placeholder="使用方式"
          formControlName="useInformation"
        />
        <mat-error> 此為必填 </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>gavel</mat-icon>
        <input
          matInput
          required
          type="text"
          placeholder="損壞賠償"
          formControlName="brokenCompensation"
        />
        <mat-error> 此為必填 </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" floatLabel="never">
        <mat-icon matPrefix>tour</mat-icon>
        <input
          matInput
          type="url"
          placeholder="相關連結"
          formControlName="relatedLink"
        />
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <textarea
          matInput
          placeholder="備註..."
          formControlName="memo"
        ></textarea>
      </mat-form-field>
    </div>
    <div fxFlex="40" fxFlex.xs="100" class="goods-images">
      <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button>新增圖片</button>
      </div>
      <div class="image-slider">
        <ng-image-slider> </ng-image-slider>
        <ng-template #emptyImages>
          <img
            src="assets/image/logo.png"
            alt="logo"
            width="300px"
            height="200px"
          />
        </ng-template>
      </div>
    </div>
  </div>
  <div class="add-goods" fxLayout="row" fxLayoutAlign="center">
    <button mat-button type="button">添加物品</button>
  </div>
</form>
