@import "~src/assets/scss/color.scss";

// :host ::ng-deep mat-form-field {
//     .mat-form-field-prefix,
//     .mat-form-field-suffix {
//     //   margin: 1rem 0.5rem 0.5rem;
//     }
  
//     .mat-form-field-infix {
//         // padding: 1rem 0;
//         border: none;
//     }
  
//     input.mat-input-element {
//       color: map-get($colors, font);
//     }
//   }
::ng-deep.mat-form-field-invalid{
    .mat-form-field-prefix{
      mat-icon{
        color: map-get($colors, danger);
      }
      .mat-datepicker-toggle-default-icon{
        color: map-get($colors, danger);
      }
    }
  }
  ::ng-deep mat-form-field.mat-form-field {
    color: map-get($colors, font);
    padding-bottom: 1rem;
    mat-icon{
      color: map-get($colors, blue);
      margin-right: 11px;
    }
    .mat-form-field-wrapper {
      border: 0px;
      .mat-form-field-flex {
        padding: 0;
        background: map-get($colors, background-white);  
        .mat-form-field-infix {
          margin: auto 0;
          border: 0;
        }
  
        .mat-form-field-suffix {
          margin: auto 0;
        }
  
        .matPrefix-icon {
          padding: 0.5rem 0;
        }
  
        .mat-select-arrow-wrapper {
          transform: translateY(0%);
  
          .mat-select-arrow {
            margin-top: 0;
          }
        }
      }
    }
  }
  
  button {
    color: map-get($colors, font-white);
    background: map-get($colors, blue);
  }
  .mat-primary{
    color: map-get($colors, font-white);
  }
  