@import "~src/assets/scss/color.scss";

$primary-color: map-get($colors, primary4);
$icon-color: map-get($colors, primary2);
$font-white: map-get($colors, white);

form {
  padding: 3% 5%;
}

:host ::ng-deep mat-form-field {
  mat-icon {
    margin-right: 10px;
    color: $icon-color;
  }

  .mat-form-field-infix {
    margin: auto 0;
    border: none;
  }
}

.mat-flat-button {
  color: $font-white;
}

.slider,
.empty-image {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.submit-btn {
  margin-top: 20px;
}
