

<div class="row">
    <div class="col s12">
        <h2 class="center">借借露註冊</h2>
    </div>
    <div class="col s12 l2"></div>
    <div class="col s12 l8">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col s12 l6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="account" id="account" formControlName="account" required type="text"
                                class="validate">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="password" type="password" id="password" formControlName="password"
                                required>
                        </div>
                    </div>
                    <div class="row" formGroupName="connection">
                        <h3>填寫聯絡方式</h3>
                        <div class="input-field col s12">
                            <input placeholder="phone" id="phone" type="text" formControlName="phone">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="email" id="email" type="text" formControlName="email">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="address" id="address" type="text" formControlName="address">
                        </div>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div formGroupName="basic_information">
                        <h3>基本資料</h3>
                        <div class="input-field col s12">
                            <input placeholder="性" id="firstname" type="text" formControlName="firstname">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="名" id="lastname" type="text"formControlName="lastname">
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="暱稱" id="diminutive" type="text" formControlName="diminutive">
                        </div>

                        <div class="input-field col s12">
                            <mat-radio-group aria-label="Select an option" formControlName="gender">
                                <mat-radio-button value="1">男</mat-radio-button>
                                <mat-radio-button value="2">女</mat-radio-button>
                              </mat-radio-group>
                        </div>

                        <mat-form-field>
                            <input type="text" name="birthday" matInput placeholder="生日" [matDatepicker]="birthdayPicker" />
                            <mat-datepicker-toggle [for]="birthdayPicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #birthdayPicker></mat-datepicker>
                        </mat-form-field>
                        
                    </div>
                </div>
            </div>


            <button type="submit" [disabled]="!registerForm.valid">Submit</button>
        </form>
    </div>
    <div class="col s12 l2 "></div>
</div>
