* {
    padding: 0;
    margin: 0;
}

.container {
    text-align: center;
    font-family: Microsoft JhengHei;
    color: #c0dd6f;
    width: 34%;
    border-style: solid;
    border-color: #c0dd6f;
    border-radius: 20px;
}
/* title*/
.formTitle {
    margin: 1% 0px 3% 0px;
    p {
        margin: auto 0;
    }
}
.register-form {
    .password_visibility {
        cursor: pointer;
    }
    .matPrefix-icon {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    /* radio button */
    .mat-field {
        padding: 5px 0;
        border: 2px solid #c0dd6f;
        border-radius: 30px;
        margin: 0px 20px 20px 20px;
        .radioButton {
            margin: auto 12px;
            .radio-button-icon {
                margin-right: 0.5rem;
            }
            .mat-radio-button ~ .mat-radio-button {
                margin-left: 16px;
            }
            .radio-text {
                font-size: 16px;
                color: #757575;
                margin-right: 5px;
            }
            @media screen and (min-width: 960px) {
                .radio-text {
                    display: auto;
                }
            }
            @media screen and (min-width: 600px) and (max-width: 960px) {
                .radio-text {
                    display: none;
                }
            }
            @media screen and (min-width: 400px) and (max-width: 600px) {
                .radio-text {
                    display: auto;
                }
            }
            @media screen and (max-width: 400px) {
                .radio-text {
                    display: none;
                }
            }
            ::ng-deep {
                .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
                    border-color: #c0dd6f;
                }
                .mat-radio-button.mat-accent .mat-radio-inner-circle {
                    background: #c0dd6f;
                }
            }
        }
    }
    ::ng-deep {
        .mat-button-wrapper {
            svg {
                color: #c0dd6f;
            }
        }
    }
}
/* mat-form-field  */
::ng-deep mat-form-field.mat-form-field {
    padding: 0 20px;
    ::placeholder {
        font-size: 1rem;
        color: #757575;
    }
    .material-icons {
        font-size: 24px;
    }
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                margin: auto 0;
                padding: 1rem 0 0.7rem 0;
                border: 0;
            }
            .mat-form-field-outline {
                border: 2px solid #c0dd6f;
                border-radius: 30pt;
            }
            .mat-form-field-outline-start,
            .mat-form-field-outline-end,
            .mat-form-field-outline-gap {
                border: 0px;
            }
            .mat-form-field-suffix {
                margin: auto 0;
            }
        }
    }
}

.signUpAndLogin {
    padding-bottom: 2%;
    .register_btn {
        font-size: 70%;
        width: 35%;
        color: #fff;
        background-color: #c0dd6f;
        font-weight: bold;
        border-style: solid;
        border-radius: 20px;
    }
    .login_btn {
        font-size: 70%;
        width: 35%;
        box-sizing: border-box;
        color: #c0dd6f;
        font-weight: bold;
        border-style: solid;
        border-radius: 20px;
        border-color: #c0dd6f;
        background-color: #fff;
    }
}

@media screen and (min-width: 1900px) {
    ::placeholder {
        font-size: 24px;
    }
    button {
        font-size: 110%;
    }
}
