@import "~src/assets/scss/color.scss";

$primary-color: map-get($colors, primary5);
$icon-color: map-get($colors, primary2);
$font-white: map-get($colors, white);
$font-gray: map-get($colors, lightgray);

::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.title {
  position: relative;
  padding: 1rem 0;
  color: $font-white;
  background-color: $primary-color;

  mat-icon {
    font-size: xx-large;
  }

  &::after {
    position: absolute;
    top: 100%;
    border-top: solid 1rem $primary-color;
    border-left: solid 1rem transparent;
    border-right: solid 1rem transparent;
    content: "";
  }
}

.content {
  padding: 1rem 1.5rem;

  .subtitle {
    margin-bottom: 10px;
    color: $font-gray;
  }
}

:host ::ng-deep mat-form-field {
  mat-icon {
    margin-right: 10px;
    color: $icon-color;
  }

  .mat-form-field-infix {
    margin: auto 0;
    border: none;
  }
}

.mat-flat-button {
  color: $font-white;
}
