@import "~src/assets/scss/color.scss";

.container {
  margin: 3% 0;
}

mat-card {
  padding: 3% 5%;
  color: map-get($colors, main);
  border-style: solid;
  border-radius: 20px;

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}

mat-card-title {
  .avatar {
    height: 60px;
    padding: 7px;
    border: 3px solid map-get($colors, blue);
    border-radius: 50%;
  }

  .nick-name {
    margin-top: 10px;
    margin-left: 15px;
    color: map-get($colors, font);
    font-size: 20px;
  }
}

:host ::ng-deep mat-form-field {
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    margin: 1rem 0.5rem 0.5rem;
  }

  .mat-form-field-infix {
    margin: auto 0;
    padding: 1.4rem 0 1.1rem 0;
    border: none;
  }

  input.mat-input-element {
    color: map-get($colors, font);
  }

  &.mat-form-field-appearance-legacy.mat-form-field-disabled {
    .mat-form-field-underline {
      background-color: gray;
      background-image: none;
      opacity: 0.5;
    }

    input.mat-input-element {
      color: map-get($colors, gray);
    }

    &.nick-name {
      .mat-form-field-underline {
        display: none;
      }

      input.mat-input-element {
        color: map-get($colors, font);
      }
    }
  }
}

button {
  color: map-get($colors, font-white);
  background: map-get($colors, blue);
}
