
<nav class="cyan">
  <div class="nav-wrapper">
    <img width="40" alt="bblu Logo" src="assets/img/logo.png" />
    <a href="#" class="brand-logo">借借露</a>
    <ul class="right hide-on-med-and-down ">
      <a class="fancy-button nav-button-hover" routerLink="/admin">
        <i class="material-icons">
          person
        </i>
        admin
      </a>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>商品列表</a></li>
      <li><a>租借紀錄</a></li>
      <li><a>常見問題</a></li>
    </ul>

  </div>
</nav>